<ion-header>
  <ion-toolbar>
    <ion-title>Acerca</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <style>
    .text {
      text-transform: uppercase;
    }
  </style>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>
      <ion-icon name="reader-outline"></ion-icon>
      <br>
      TodoApp v1.0
    </h1>
    <br>
    <h5>Desarrollada por</h5>
    <div class="text">
      <p>Roberto Villegas</p>
      <p>Lourdes Lerma</p>
      <p>Sheila Ávalos</p>
      <p>Pablo García</p>
      <p>Christopher Miranda</p>
      <p>Cruz Pérez</p>
      <p>Natanaél López</p>
      <p>Abraham Pequeño</p>
      <br>
      <p>Para la materia de Dispositivos Móviles II impartida por el Mtro. Sergio Yorick</p>
    </div>

  </div>
</ion-content>