<ion-header>
  <ion-toolbar>
    <ion-title>Acerca</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/test"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="ion-text-center">
    <h1>TodoApp v1.0</h1>
    <h2>Materia: Dispositivos Móviles II</h2>
    <h2>Participantes</h2>
    <h3>Roberto Villegas</h3>
    <h3>Lourdes Lerma</h3>
    <h3>Sheila Ávalos</h3>
    <h3>Pablo García</h3>
    <h3>Christopher Miranda</h3>
    <h3>Cruz Pérez</h3>
    <h3>Natanaél López</h3>
    <h3>Abraham Pequeño</h3>
    <h2>Profesor:</h2>
    <h3>Mtro. Sergio Yorick</h3>
  </div>
</ion-content>
