<ion-header translucent>
  <ion-toolbar>
    <ion-title>Descripción de la tarea</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-card>
    <div>
      <ion-card-header>
        <ion-card-title mode="md">
          {{ todoTitle }}
        </ion-card-title>
      </ion-card-header>
      <!-- <hr style="height:1px;border-width:0;color:gray;background-color:gray; margin-right: 10px; margin-left: 10px;"> -->
      <ion-card-content>
        {{ todoDesc }}
      </ion-card-content>
    </div>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title mode="md">
        <ion-icon name="calendar-clear-outline"></ion-icon>
        {{ duedate }}
      </ion-card-title>
      <!-- <hr style="height: 1px; border-width: 0; color: gray; background-color: gray" /> -->

      <!-- <ion-card-title mode="md">
        <ion-icon name="time-outline"></ion-icon>
      </ion-card-title>
      <ion-card-title mode="md"> </ion-card-title> -->
    </ion-card-header>
  </ion-card>

  <!-- CODIGO CRUZ -->
  <!-- <ion-text color="white">
    <div class="ion-text-center">
      <h1>{{ todoTitle }}</h1>
    </div>
  </ion-text>

  <ion-text color="white">
    <div class="ion-text-justify">
      <h2>{{ todoDesc }}</h2>
    </div>
  </ion-text> -->
  <!-- CODIGO CRUZ -->

  <!-- <ion-text color="tertiary">
    <h3>Vestibulum eleifend lorem nec neque interdum varius.</h3>
  </ion-text>

  <ion-text color="success">
    <h4>Sed in neque at nibh congue tincidunt.</h4>
  </ion-text>

  <ion-text color="warning">
    <h5>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;</h5>
  </ion-text> -->
</ion-content>
